{% extends 'base/base.html'%}
{% load static %}

{%block header%}
{%endblock%}
{%block content%}



            <form class="mb-6" method="post" dir="rtl" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row mb-5">
                <div class="col-md-6">
                  <div class="">
                    <label class="form-label" for="item_name">نام کالا</label>
                    {{form.name}}
                    {{form.name.errors}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="">
                    <label class="form-label" for="condition">وضعیت کالا</label>
                    {{form.condition}}
                    {{form.condition.errors}}
                  </div>

                </div>
                </div>

              <div class="row  mb-5">

                  <div class="">
                    <label class="form-label" for="condition">توضیحات</label>
                    {{form.description}}
                    {{form.description.errors}}
                </div>

                </div>

                <div class="row gx-5">
                <div class="col">
                  <label class="form-label" for="condition">قیمت شروع مزایده</label>
                  <div class="input-group">

                     <span class="input-group-text">تومان</span>
                    {{form.starting_bid_price}}
                    {{form.starting_bid_price.errors}}


                  </div>
                </div>

                 <div class="col">
                   <label class="form-label" for="condition">قیمت فروش فوری</label>
                  <div class="input-group">

                     <span class="input-group-text">تومان</span>

                    {{form.buy_it_now_price}}
                    {{form.buy_it_now_price.errors}}
                  </div>
                        </div>
                     <div class="col">

                   <label class="form-label" for="condition">تاریخ اتمام مزایده</label>

                    <div class="input-group ">


                    {{form.biding_end_date}}
                    {{form.biding_end_date.errors}}
                  </div>
                        </div>
                   </div>
                <br>
                <div class="row gx-5">
                <div class="col">
                     <label class="form-label" for="condition">عکس اصلی</label>
                  <div class="input-group ">
                    {{form.image1}}
                    {{form.image1.errors}}
                  </div>
                </div>
                <div class="col">
                     <label class="form-label" for="condition">عکس دوم</label>
                     <div class="input-group ">
                    {{form.image2}}
                    {{form.image2.errors}}

                  </div>
                </div>

                <div class="col">
                     <label class="form-label" for="condition">عکس سوم</label>
                  <div class="input-group ">


                    {{form.image3}}
                    {{form.image3.errors}}
                  </div>
                </div>
                </div>

                <br>
              <div class="text-end">
               <button type="submit" class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                    اعمال تغییرات
              </button>
              </div>
            </form>
            <hr class="my-10" />



{%endblock%}
{%block js-link%}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
{%endblock%}