<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/@webpixels/css/dist/index.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
       <style>
        body{
        font-family: 'Lalezar', cursive;

        }

        </style>
    <title>{% block title%} {%endblock%}</title>

{% load static %}




</head>
<body>

<div class="">
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
     {% include 'inc/nav.html' %}
  <!-- Main content -->
  <div class=" h-screen px-3 px-lg-7 flex-grow-1 overflow-y-lg-auto">
    <header class="bg-surface-secondary border-top">
      <div class="container-xl">
        <div class="py-5 border-bottom">
          <!-- Page heading -->
          <div>
            <div class="row align-items-center">
              <div class="col-md-6 col-12 mb-3 mb-md-0">
                <!-- Title -->
                  <h1 class="h2 mb-0 ls-tight">{%block page-title%}{%endblock%}</h1>
              </div>
              <!-- Actions -->
              <div class="col-md-6 col-12 text-md-end">

              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="py-10 bg-surface-secondary">
      <!-- Container -->
      <div class="container-xl">
        <div class="border border-2 bg-surface-secondary h-full border-dashed rounded d-flex flex-column justify-content-center align-items-center" style="min-height: 400px;">

               {%block content%} {%endblock%}
            <!-- <i class="bi bi-files-alt"></i> -->

        </div>
      </div>
    </main>
  </div>
</div>

{%block js-link%}{%endblock%}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>