{% extends 'base/base.html'%}
{% load static %}


{%block content%}

<div class="row">

hello

</div>
<div class="row">

{%for item in public_items%}
<div class="col-sm-6 mb-3 mb-sm-0"  dir="rtl">
<div class="card">
  <!-- Image -->
  <div class="p-2">
    <img alt="..." src="https://images.unsplash.com/photo-1612892483236-52d32a0e0ac1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&h=400&q=80" class="card-img">
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <!-- Title -->
    <h3 class="h4"></h3>
    <!-- Subtitle -->{{item.name}}
    <span   class="d-block text-muted text-sm font-semibold">{{item.biding_end_date}}</span>
    <p class="mt-4 mb-6">
      {{item.description}}
    </p>
    <a href="{%url 'items:detailitemview' item.pk%}" class="btn btn-sm btn-primary">
      جزییات
    </a>
  </div>
</div>

    </div>
{%endfor%}

</div>


{%endblock%}
{%block js-link%}
<script>
let elements = document.getElementsByClassName("d-block text-muted text-sm font-semibold");
for (let i = 0; i < elements.length; i++) {
var wrongdate =elements[i].textContent
console.log(wrongdate)
correctDate = wrongdate.replace("midnight", "00:00:00");

let countDownDate = new Date(correctDate);




var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  elements[i].innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    elements[i].textContent.innerHTML = "EXPIRED";
  }
}, 1000);

}

</script>
{%endblock%}